
h1 {
    text-align: center;
  }

 .AboutMe{
    text-align: center;
  }

.contact{
  border-bottom: 1px solid black;
}

  .line{
    border-left: 1px solid black;
    height: 800px;
    position: absolute;
    left: 20%;
    margin-left: -3px;
    top: 0;
  }

.photo img{
    position: absolute;
    top: 25px;
    left: 100px;
    border-width: 1px thin;
    border-color: black;
    border-style: solid;
}

.side h4{
  text-align: justify;
  left: 50%;
}

.contacts p {
    position: absolute;
    left: 100px;
}

.workexp{
  border: 2px solid black;
}